﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tagit")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("headerStyle", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("VanHackForum", "Index", "Blogs", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Blogs", "Index", "Blogs")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="text-capitalize">@TempData["ErrorMessage"]</strong>
            </div>
            <br />
        }

            <div class="col-md-12">
                @RenderBody()
            </div>
        @*<div class="col-md-3">
            @{Html.RenderAction("Categories", "Blogs"); }
        </div>*@
        <hr />

        <footer class="nav navbar-fixed-bottom navbar-inverse text-center">
            <p style="color: white; padding-top: 10px;">
                <strong>&copy; @DateTime.Now.Year - VanHackForum</strong>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
