﻿@model IEnumerable<string>

<ul class="list-group">
    @foreach (var tag in Model)
    {
    <li class="list-group-item">
        <a href="@Url.Action("Index", "Blogs", new { tag })">
            @tag
        </a>
    </li>
    }
</ul>