﻿@model VanHackForum.Models.Blog

@{
    ViewBag.Title = "New Post";
    string action = Model?.ID == 0 ? "Create" : "Edit";
}

@section headerStyle {
    <style>
        /*form {
            margin: 0 auto;
            min-width: 250px;
            max-width: 100%;
        }*/
    </style>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="css/jquery.tagit.css" rel="stylesheet" type="text/css">
}

<h2>Create Post</h2>

<div class="container" style="padding-left: 10%; padding-right: 10%; margin-top: 5%">

    @using (Html.BeginForm(action, "Blogs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.ID)

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-xs-12">
                    @Html.TextArea("Title", Model.Title, new { @class = "form-control", placeholder = "Blog Post Title", style = "height: 50px;", id = "blogTitle" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group" style="margin-bottom: 30px;">
                <div class="col-xs-12" id="img-header" style="background-image: url('@Url.Content("~/Content/Blog/Headers")/@Model.ImageName') ;background-repeat:no-repeat; background-position: center center; background-size: contain; height: 250px;">
                    <div class="form-group-container">
                        <div class="image-upload-container">
                            <input type="file" accept="image/*" name="image" onchange="loadFile(event)" style="display:none" id="file-input" src="@Url.Content("~/Content/Blog/Headers")/@Model.ImageName" />
                            <a href="#" id="file-select" style="outline: none; margin-left: 40%;"><i class="glyphicon glyphicon-camera"></i> Select Header Image</a>
                        </div>
                        <script>
                            var fileSelect = document.getElementById("file-select");
                            var fileElem = document.getElementById("file-input");

                            fileSelect.addEventListener("click", function (e) {
                                if (fileElem) {
                                    fileElem.click();
                                } e.preventDefault();
                            }, false);
                            var loadFile = function (event) {
                                $('#img-header').css('background-image', 'url(' + URL.createObjectURL(event.target.files[0]) + ')');
                            };
                        </script>
                    </div>
                </div>
            </div>*@

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group-container">
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control blog-detail-content", placeholder = "Content" })
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group-container" title="category">
                        @Html.Hidden("BlogTags", Model.BlogTags, new { id = "BlogTags"})

                        @Html.TextBox("tagss", Model.BlogTags, new { @class = "form-control", id = "tags-textbox", placeholder = "Category",  title="category" })
                        @Html.ValidationMessageFor(model => model.BlogTags, "", new { @class = "text-danger" })
                        <i class="text-danger">to enter a multi-word category, wrap the words in quote ..... "public health"</i>
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-top: 25px;">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">
                        @action Post
                    </button>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

@section Scripts {
    <script>
        (function ($) {
            if (!$.curCSS) {
                $.curCSS = $.css;
            }
        })(jQuery);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tagit")
    @Scripts.Render("~/bundles/ckeditor")

    <script>
        CKEDITOR_BASEPATH = '@Url.Content("~/Scripts/ckeditor/")';
        CKEDITOR.replace('Content');
        CKFinder.setupCKEditor(null, '@Url.Content("~/Scripts/ckfinder/")');

        tagList();
        var eventTags = $('#tags-textbox');
        var availableeTags = '@ViewBag.Tags'.split(', ')

        eventTags.tagit({
            availableTags: availableeTags,
            autocomplete: {
                delay: 0,
                minLength: 2,
                source: availableeTags
            },
            showAutocompleteOnFocus: true,
            allowDuplicates: false,
                removeConfirmation: true,
                singleField: true,
                singleFieldNode: $('#BlogTags'),
                afterTagAdded: function (evt, ui) {
                    if (!ui.duringInitialization) {
                        tagList();
                    }
                },
                afterTagRemoved: function (evt, ui) {
                    tagList();
                }, 
                tagLimit: 1
            });

        function tagList() {
            var result = '@Model.BlogTags';
            $.each($(".tagit").children(),
                function () { result += ($(this).children('.tagit-label').text() + ','); }
            );
            $('#BlogTags').val(result);
        }
        

    </script>
}
