﻿@using Microsoft.AspNet.Identity;
@model VanHackForum.Models.Blog

@{
    ViewBag.Title = "Blog Post";
    var userId = User.Identity.GetUserId();
}

@*<div class="jumbotron" style="background: url('@Url.Content("~/Content/Blog/Headers")/@Model.ImageName') no-repeat 50% 50% /cover rgba(17, 18, 19, .6); height: 300px">
</div>*@

<div class="container">
    <div class="well well-lg">
        <h3>@Model.Title</h3>
        <br />
        <div>
            @Html.Raw(Model.Content)
        </div>
        <br />
        @for (int i = 0; i < Model.Tags.Count; i++)
        {
            var tag = Model.Tags.ElementAtOrDefault(i);

            <a href="@Url.Action("Index", "Blogs", new { tag = tag.BlogTag })" style="border: 1px solid #00ff21; border-radius: 10px; padding:  5px 5px 5px 8px; margin: 2px 5px; text-align: center;">
                @tag.BlogTag
            </a>
        }
        <br />
        <div>
            <blockquote class="" style="margin-top: 15px">
                <strong>
                    @Model.CreatedBy.UserName
                </strong>
                <footer>
                    @Model.CreatedDateTime.ToString("dd-MM-yyyy")
                </footer>

                @if (userId == Model.CreatedById)
                {
                    <a href="@Url.Action("Edit", "Blogs", new { blogtitle = Model.BlogUrl })" class="text-danger" style="">
                        <i class="glyphicon glyphicon-pencil"></i> edit
                    </a>
                }
            </blockquote>
        </div>
    </div>

    <hr />

    <div>
        <h3>Comments</h3>
        <hr />

        @if (Request.IsAuthenticated)
        {
            <div class="row">
                @using (Html.BeginForm("PostComment", "Blogs", FormMethod.Post))
                {
                    @Html.Hidden("blogId", Model.ID)

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group-container">
                                    @Html.TextArea("comment", new { @class = "form-control blog-detail-content", placeholder = "Content", required = "required" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-md-10">
                            <input type="submit" value="Post Reply" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        }

        <div id="blog-comments" style="margin-top: 50px;">
            @for (int i = 0; i < Model.Comments.Count; i++)
            {
                var comment = Model.Comments.OrderByDescending(x => x.CreatedDateTime).ElementAtOrDefault(i);

                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.Raw(comment.Content)
                        <blockquote class="blockquote-reverse pull-right" style="margin-bottom: 0px;">
                            @comment.CreatedBy.UserName
                            <footer>
                                @comment.CreatedDateTime.ToString("dd-MM-yyyy")
                            </footer>

                            @if (userId == comment.CreatedById)
                            {
                                <a href="#" class="text-danger edit-comment-button" data-commentid="@comment.ID" data-comment="@comment.Content" style="">
                                    <i class="glyphicon glyphicon-pencil"></i> edit
                                </a>
                            }
                        </blockquote>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<br />
<a href="@Url.Action("Index", "Blogs")" class="btn btn-lg btn-info">
    << Go Home
</a>



<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="editCommentModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Comment</h4>
            </div>
            @using (Html.BeginForm("EditComment", "Blogs", FormMethod.Post))
            {
            <div class="modal-body">
                @Html.Hidden("blogId", Model.ID)
                <input type="hidden" name="commentId" id="commentId" />

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group-container">
                                @Html.TextArea("editComment", new { @class = "form-control blog-detail-content", placeholder = "Content", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/tagit")
    @Scripts.Render("~/bundles/ckeditor")

    <script>
        CKEDITOR_BASEPATH = '@Url.Content("~/Scripts/ckeditor/")';
        CKEDITOR.config.toolbar = [
            ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link', 'Unlink', '-', 'About']
        ];
        CKEDITOR.replace('comment', {
            //extraPlugins: 'uicolor',
            height: '80px',
        });
        CKEDITOR.replace('editComment', {
            //extraPlugins: 'uicolor',
            height: '80px',
        });

        CKFinder.setupCKEditor(null, '@Url.Content("~/Scripts/ckfinder/")');

        $(".edit-comment-button").on('click', function (e) {
            var btn = e.target;
            var commentId = $(btn).data('commentid')
            var comment = $(btn).data('comment')

            $("#commentId").val(commentId);
            CKEDITOR.instances.editComment.setData(comment)
            $("#editCommentModal").modal('toggle')
        });
    </script>

}
