﻿@using PagedList.Mvc;
@model PagedList.IPagedList<VanHackForum.Models.Blog>

@{
    ViewBag.Title = "Forum";
}

@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("Create", "Blogs")" class="btn btn-success btn-lg" title="Write Post" style="position: absolute; top: 95%; left: 95%; padding: 10px 12px; border-radius: 70%;">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
}

<div class="jumbotron">
    <h3>
        Posts
        @if(ViewBag.Tag != null)
        {
            <text>
         - <i>(@ViewBag.Tag)</i>
            </text>
        }
    </h3>
</div>

<div class="row">
        @for (var i = 0; i < Model.Count; i++)
    {
        var blog = Model.ElementAtOrDefault(i);
        var height = blog.ImageName == "" ? "150px" : "300px";

        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                @*@if (!string.IsNullOrWhiteSpace(blog.ImageName))
            {
                <a href="@Url.Action("Details", "Blogs", new { title = blog.BlogUrl})">
                    <img src="@Url.Content("~/Content/Blog/Headers")/@blog.ImageName" alt="@blog.Title" class="image img-responsive" style="height: 250px; width: 100%">
                </a>
        }*@
                <div class="caption">
                    <h4>
                        <a href="@Url.Action("Details", "Blogs", new { title = blog.BlogUrl})">
                            @blog.Title
                        </a>
                    </h4>
                    @*<p>
                        @Html.Raw(blog.Content);
                    </p>
                    <br />*@
                    <p>
                        <span class="pull-left">
                            @blog.CreatedBy.UserName
                        </span>
                        <br />
                        <span class="pull-right">
                            @blog.CreatedDateTime.ToString("dd-MM-yyyy")
                        </span>
                    </p>
                    @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                </div>
            </div>
        </div>
}
</div>

<div style="margin-top: 70px;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, tag = ViewBag.Tag }))
</div>